.container {
  width: 90%;
  flex-direction: column;
  align-items: center;
  display: flex;
  margin-top: 30px;
}

h1 {
  margin-top: 70px;
  font-size: 25px;
  text-align: center;
  color: chocolate;
}

.cont {
  margin-top: 30px;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

mat-form-field {
  margin-right: 10px;
  width: 20vw;
}

.tabla {
  max-width: 62%;
  margin-top: 2%;
  margin-left: 14%;
  margin-bottom: 4%;
}

th {
  color: chocolate;
}

td {
  color: chocolate;
}

.btnguardar {
  display: flex;
  justify-content: center;
}

.btnguardar {
  display: flex;
  justify-content: center;
}

.guardar {
  color: white;
  background-color: chocolate;
  height: 50px;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.guardar:hover {
  background-color: #8B4513;
  transform: translateY(-2px);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  .cont {
    grid-template-columns: repeat(2, 1fr);
  }

  .tabla {
    width: 100%;
    overflow-x: auto;
  }
}


@media (min-width: 768px) and (max-width: 1023px) {
  .cont {
    grid-template-columns: repeat(2, 1fr);
  }

  .tabla {
    width: 100%;
    overflow-x: auto;

  }
}


@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .cont {
    grid-template-columns: 1fr;
  }

  .tabla {
    width: 100%;
    overflow-x: auto;
  }
}
